<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catalogo
    </ion-title>
  </ion-toolbar>
</ion-header>

  
<ion-content [fullscreen]="true">
  <ion-button expand="full" color="primary" (click)="presentActionSheet()">
    Mostrar funcion de Action-sheet
</ion-button>
  <ion-list>

    <ion-item class="ion-text-center" *ngFor="let producto of productos" (click)="presentAlert(producto)"> <ion-icon name="phone-portrait-outline" color="primary"></ion-icon>{{producto.nombre}}
      
    </ion-item>
    
  </ion-list>
</ion-content>
