<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Store Cell
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Mision</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Trabajamos todos los días para ofrecer a nuestros usuarios lo mejor en tecnología, cobertura, productos, planes, promociones, servicios y equipos enfocados siempre a suplir las necesidades de comunicación de nuestros usuarios prestándoles un excelente servicio al cliente.
  </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Vision</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Lideramos el negocio a través de la satisfacción del cliente
    Ser reconocido por los clientes, proveedores, empleados, competidores y publico en general
    Hacemos bien a la primera vez
    Generamos un ambiente de flexibilidad, entusiasmo y confianza. Premiamos los mejores y celebramos los resultados
    Energía personal para generar y afrontar los cambios
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Objetivo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Brindar a nuestros cliente sun correcto servicio, en los mejores dispositivos moviles.
  </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src='/assets/img/institucional.jpg'></ion-img>
  </ion-card>
</ion-content>
