<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Mision</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat rem hic, non magni in ipsum iste fugit odio odit nesciunt. Voluptatem, culpa impedit. Soluta sequi architecto ad assumenda dolores iste.
  </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Vision</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat rem hic, non magni in ipsum iste fugit odio odit nesciunt. Voluptatem, culpa impedit. Soluta sequi architecto ad assumenda dolores iste.
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Objetivo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat rem hic, non magni in ipsum iste fugit odio odit nesciunt. Voluptatem, culpa impedit. Soluta sequi architecto ad assumenda dolores iste.
  </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src='/assets/img/institucional.jpg'></ion-img>
  </ion-card>
</ion-content>
