<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sucursales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-item *ngFor="let su of sucursal" >
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title>{{su.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]='su.src'></ion-img>
      {{su.direccion}}
    </ion-card-content>
    <ion-card-content>
      {{su.telefono}}
    </ion-card-content>
    
    </ion-card> 
    
      
    
  </ion-item> -->
      

</ion-content>
